.experience-div{
    display: flex;
    flex-direction: column;
    margin: 0% 15% 1% 15%;
    margin-bottom: 1%;
    background-color:#514469 ;
    /* margin-bottom: 1rem; */
    padding: 3%;
}
.exp-heading{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 45%;
    /* margin-bottom: 20px; */
}
.company-div{
    background-color: white;
    margin: 0% 10% 0% 10%;
    padding: 0% 3% 3% 3%;
}
.duration-div{
    color: #827b8e;
}