/* Base styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282c34;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    color: white;
    font-weight: 500;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.link:hover {
    color: bisque;
}

.navbar-links li {
    cursor: pointer;
}

/* Hamburger menu for mobile */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
}

/* Hide the links for mobile view */
@media (max-width: 768px) {
    .navbar-links {
        position: absolute;
        top: 50px;
        right: 0;
        height: 100vh;
        background-color: #282c34;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 30px;
        display: none;
    }

    .navbar-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

/* Close the navbar when a link is clicked */
.navbar-links li {
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar-links li a:hover {
    color: #61dafb; 
}
