
 
.portfolio-bg{
  /* background-color: #6a6681; */
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  width: 100vw;
  padding-bottom: 3%;
  /* padding-top: 10%; */
  /* padding: 0% 15% 3% 15%; */
  
}
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */