.get-in-touch-container{
    display: flex; 
    
    /* justify-content: space-around; */
}
.main-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin: 0% 15% 0% 15%;
    
}
.span-ele{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.contact-form{
    display: flex;
    flex-direction: column;
    margin-left:5%;
    justify-content: center;
    align-items: center;
}
.field{
    /* background-color: rgb(197, 197, 248); */
    border: 1px;
    /* width:300px;
    height: 40px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 25px;

}
.input-field{
    width: 300px;
    height: 40px;
    
    
}
.submit-btn{
    background-color: rgb(90, 158, 213);
    color: white;
    width: 80px;
    border: none;
    height: 30px;
    border-radius: 25px;
    cursor: pointer;
}
.submit-btn:hover{
    background-color: rgb(70, 113, 204);
}
    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        margin-top: 7%;
        margin-left: 10%;
        
    }
    .image-container {
        display: flex;
        flex-direction: row !important; /* Adding !important to ensure it overrides any other conflicting styles */
        align-items: start; /* Align the images and text vertically in the center */
        gap: 15px; /* Adds some spacing between each element */
    }
    
    
    .image-container a {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-decoration: none; 
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-weight: 500;
        color: black;
    }
    .image-container a:hover{
        color: rgb(37, 82, 167);
    }
    
    .image-container img {
        margin-right: 10px; 
    }