.projects-div{
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    justify-content: center;
    background-color: #6b5c86;
    margin: 1% 15% 0% 15%;
    margin-bottom: 1%;
}
@media (max-width:768px){
    .projects-container{
        padding: 0;
    }
}
.projects-heading{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 1%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media (max-width:768px){
    .projects-heading{
        font-size: 24px;
        text-align: center;
        margin:10px;
    }
}
.projects-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3%;
}
.single-project-div{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 380px;
    margin: 3%;
    background-color: black;
    color: white;
    padding: 5px 5px 15px 5px;
    /* position: relative;
    overflow: hidden; */
    border-radius: 20px;
}
@media (max-width:768px){
    .single-project-div{
        width: 300px;
    }
}
.project-desc{
    font-size: 14px;
}
.button-container{
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}
.project-button{
    background-color: rgb(71, 71, 199);
    border: none;
    border-radius:10px;
    width: auto;
    height: 30px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    padding: 6px;
    
}
.project-button:hover{
    background-color: rgb(128, 180, 239);
    font-weight: bold;
}

.single-project-div img{
    width: 100%;
    border-radius: 10px;
}
.project-img{
    object-fit: fill;
    width: 100%;
    height: 100%;
}
@media (max-width:768px){
    .project-img{
        object-fit: fill;
        
    }
}
.details-btn{
    height: 35px; 
    border: none;
    padding: 6px;
    background-color: rgb(22, 66, 169);
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
@media (max-width:768px){
    .details-btn{
        margin: 5px;
    }
}
.details-btn:hover{
    background-color: rgb(7, 130, 171);
    font-weight: bold;
}